{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.privacy_policy.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.privacy_policy.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.privacy_policy.title"|trans }}
{% endblock %}

{% block main_body %}
    {{ "page.privacy_policy.presentation.title"|trans }}

    <p>
        {{ "page.privacy_policy.presentation.description1"|trans }}<br>
        {{ "page.privacy_policy.presentation.description2"|trans }}<br>
        {{ "page.privacy_policy.presentation.description3"|trans }}<br>
    </p>

    <h2 class="font-bold">{{ "page.privacy_policy.consent.title"|trans }}</h2>

    <p>{{ "page.privacy_policy.consent.description"|trans }}</p>

    <h2 class="font-bold">{{ "page.privacy_policy.information_we_collect.title"|trans }}</h2>

    <p>
        {{ "page.privacy_policy.information_we_collect.description1"|trans }}<br>
        {{ "page.privacy_policy.information_we_collect.description2"|trans }}<br>
        {{ "page.privacy_policy.information_we_collect.description3"|trans }}<br>
    </p>

    <h2 class="font-bold">{{ "page.privacy_policy.how_we_use_your_information.title"|trans }}</h2>

    <p>{{ "page.privacy_policy.how_we_use_your_information.tab"|trans }}</p>

    <ul>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab1"|trans }}</li>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab2"|trans }}</li>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab3"|trans }}</li>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab4"|trans }}</li>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab5"|trans }}</li>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab6"|trans }}</li>
        <li>{{ "page.privacy_policy.how_we_use_your_information.subtab7"|trans }}</li>
    </ul>

    <h2 class="font-bold">{{ "page.privacy_policy.log_files.title"|trans }}</h2>

    <p>{{ "page.privacy_policy.log_files.description"|trans }}</p>

    <h2 class="font-bold">{{ "page.privacy_policy.cookies_and_web_beacons.title"|trans }}</h2>

    <p>{{ "page.privacy_policy.cookies_and_web_beacons.description"|trans }}</p>

    <h2 class="font-bold">{{ "page.privacy_policy.advertising_partners_privacy_policies.title"|trans }}</h2>

    <P>
        {{ "page.privacy_policy.advertising_partners_privacy_policies.description1"|trans }}<br>
        {{ "page.privacy_policy.advertising_partners_privacy_policies.description2"|trans }}<br>
        {{ "page.privacy_policy.advertising_partners_privacy_policies.description3"|trans }}<br>
    </p>

    <h2 class="font-bold">{{ "page.privacy_policy.third_party_privacy_policies.title"|trans }}</h2>

    <p>
        {{ "page.privacy_policy.third_party_privacy_policies.description1"|trans }}<br>
        {{ "page.privacy_policy.third_party_privacy_policies.description2"|trans }}<br>
    </p>

    <h2 class="font-bold">{{ "page.privacy_policy.ccpa_privacy_rights.title"|trans }}</h2>

    <p>
        {{ "page.privacy_policy.ccpa_privacy_rights.description1"|trans }}<br>
        {{ "page.privacy_policy.ccpa_privacy_rights.description2"|trans }}<br>
        {{ "page.privacy_policy.ccpa_privacy_rights.description3"|trans }}<br>
        {{ "page.privacy_policy.ccpa_privacy_rights.description4"|trans }}<br>
        {{ "page.privacy_policy.ccpa_privacy_rights.description5"|trans }}<br>
    </p>

    <h2 class="font-bold">{{ "page.privacy_policy.gdpr_data_protection_rights.title"|trans }}</h2>

    <p>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description1"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description2"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description3"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description4"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description5"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description6"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description7"|trans }}<br>
        {{ "page.privacy_policy.gdpr_data_protection_rights.description8"|trans }}<br>
    </p>

    <h2 class="font-bold">{{ "page.privacy_policy.children_information.title"|trans }}</h2>

    <p>
        {{ "page.privacy_policy.children_information.description1"|trans }}<br>
        {{ "page.privacy_policy.children_information.description2"|trans }}<br>
    </p>
{% endblock %}
