{% extends "layout.html.twig" %}

{% block title %}
    {{ "page.homepage.title"|trans }}
{% endblock %}

{% block description %}
    {{ "page.homepage.description"|trans }}
{% endblock %}

{% block main_title %}
    {{ "page.homepage.main_title"|trans }}
{% endblock %}

{% block main_body %}
    <p class="mx-auto max-w-3xl">
        {{ "page.homepage.main_description"|trans }}
    </p>
    <turbo-frame id="homepage-trending-and-recent" src="{{ path("app_homepage_trending_and_recent") }}" loading="lazy" class="grid gap-6 lg:grid-cols-2" aria-busy="true">
        <div role="progressbar" aria-label="{{ "common.loading"|trans }}" class="h-[24.75rem] w-full animate-pulse rounded-2xl bg-base-100"></div>
        <div role="progressbar" aria-label="{{ "common.loading"|trans }}" class="h-[24.75rem] w-full animate-pulse rounded-2xl bg-base-100"></div>
        <div role="progressbar" aria-label="{{ "common.loading"|trans }}" class="h-[24.75rem] w-full animate-pulse rounded-2xl bg-base-100"></div>
        <div role="progressbar" aria-label="{{ "common.loading"|trans }}" class="h-[24.75rem] w-full animate-pulse rounded-2xl bg-base-100"></div>
    </turbo-frame>
{% endblock %}
