{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block title %}
    {{ "page.vote_show.title"|trans() }}
{% endblock %}

{% block description %}
    {{ "page.vote_show.description"|trans() }}
{% endblock %}

{% block main_title %}
    {{ "page.vote_show.title"|trans() }}
{% endblock %}

{% block main_body %}
    <div class="w-full overflow-x-auto">
        <table class="table-zebra table w-full">
            <tbody>
                <tr>
                    <th>
                        {{ "common.id"|trans }}
                    </th>
                    <td>
                        {{ vote.id }}
                    </td>
                </tr>
                 <tr>
                    <th>
                        {{ "request.id"|trans({}, "tables") }}
                    </th>
                    <td>
                        {{ vote.request.id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.created_at"|trans }}
                    </th>
                    <td>
                        {{ vote.createdAt ? vote.createdAt|format_datetime : "" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.updated_at"|trans }}
                    </th>
                    <td>
                        {{ vote.updatedAt ? vote.updatedAt|format_datetime : "" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.created_by"|trans }}
                    </th>
                    <td>
                        {% if vote.createdBy %}
                            <a class="link link-primary link-hover" href="{{ path("admin_user_show", { id: vote.createdBy.id.toBase32 }) }}">
                                {{ vote.createdBy.profile.username }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.updated_by"|trans }}
                    </th>
                    <td>
                        {% if vote.updatedBy %}
                            <a class="link link-primary link-hover" href="{{ path("admin_user_show", { id: vote.updatedBy.id.toBase32 }) }}">
                                {{ vote.updatedBy.profile.username }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group items-center justify-center">
        {{ component("button", { button: false, content: "common.back_to_list"|trans, class: "btn-outline", variant: "info", centered: false, ghost: true, href: path("admin_vote") }) }}
        {{ component("button", { button: false, content: "common.edit"|trans, class: "btn-outline", variant: "success", centered: false, ghost: true, href: path("admin_vote_edit", { id: vote.id.toBase32 }) }) }}
    </div>
{% endblock %}
