{% extends "layout.html.twig" %}

{% block title %}
    {{ stack.name }}
{% endblock %}

{% block description %}
    {{ (stack.description ?? "page.show_stack.default_description"|trans({ name: stack.name }))|u.truncate(150, '...') }}
{% endblock %}

{% block main_title %}
    {{ stack.name }}
{% endblock %}

{% block main_body %}
    <div class="flex md:flex-row flex-col gap-4 justify-between">
        <a href="{{ path('app_profile_show', { slug: stack.profile.slug }) }}">
            <div class="card bg-secondary text-primary-content">
                <div class="card-body">
                    <div class="card-title gap-6">
                        <span class="flex-grow">{{ "common.author"|trans }} :</span>
                        <div class="flex gap-2 items-center">
                            {{ component("avatar", { user: stack.profile.user }) }}
                            <span>{{ stack.profile.username }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="flex item-center justify-center flex-col">
            {% if is_granted(constant("App\\Security\\Voter\\StackVoter::EDIT"), stack) %}
                {{ component("button", {
                    href: path("app_stack_edit", { slug_stack: stack.slug, slug_profile: stack.profile.slug }),
                    icon: 'pencil',
                    square: true
                }) }}
            {% endif %}
        </div>
    </div>
    {% if stack.description %}
        <div class="card bg-base-100">
            <p class="card-body text-xl">
                {{ stack.description }}
            </p>
        </div>
    {% endif %}
    <div class="grid gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3 xl:grid-cols-4">
        {% for name, techs in stack.getCategoriesWithTechs %}
            {{ component('categoryCard', { name, techs }) }}
        {% endfor %}
    </div>
{% endblock %}
