{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block main_body %}
    <turbo-frame id="table_crud" class="flex flex-col gap-4" data-turbo-action="advance">
        <h1 class="text-center text-4xl">
            {{ "page.category.title"|trans }}
        </h1>

        <div class="flex min-h-[28.5rem] gap-2 flex-col md:flex-row">
            {{ knp_menu_render('back_office', { template: knp_custom_menu }) }}
            {{ component('table', { config }) }}
                 <span class="flex justify-end mb-3">
                {{ component(
                    "button",
                    {
                        icon: "add-circle",
                        square: true,
                        href: path("admin_stack_new"),
                        ariaLabel: ("icon.add-circle")|trans,
                        centered: false
                    })
                }}
            </span>
        </div>

        <div class="flex items-center justify-center">
            {{ knp_pagination_render(config.pagination, 'knp_custom/paginator.html.twig') }}
        </div>
    </turbo-frame>
{% endblock %}
