{% extends "admin/layout.html.twig" %}

{% trans_default_domain "admin" %}

{% block title %}
    {{ "page.request_show.title"|trans() }}
{% endblock %}

{% block description %}
    {{ "page.request_show.description"|trans() }}
{% endblock %}

{% block main_title %}
    {{ "page.request_show.title"|trans() }}
{% endblock %}

{% block main_body %}
    <div class="w-full overflow-x-auto">
        <table class="table-zebra table w-full">
            <tbody>
                <tr>
                    <th>
                        {{ "common.id"|trans }}
                    </th>
                    <td>
                        {{ request.id }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.status"|trans({}, "tables") }}
                    </th>
                    <td>
                        {{ request.status.value }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "tech.id"|trans({}, "tables") }}
                    </th>
                    <td>
                        {{ request.tech.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "request.votes.up"|trans({}, "tables") }}
                    </th>
                    <td>
                        {{ request.getUpvotes|length }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "request.votes.down"|trans({}, "tables") }}
                    </th>
                    <td>
                        {{ request.getDownvotes|length }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "request.votes.number"|trans({}, "tables") }}
                    </th>
                    <td>
                        {{ request.getVoteCount }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.created_at"|trans }}
                    </th>
                    <td>
                        {{ request.createdAt ? request.createdAt|format_datetime : "" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.updated_at"|trans }}
                    </th>
                    <td>
                        {{ request.updatedAt ? request.updatedAt|format_datetime : "" }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.created_by"|trans }}
                    </th>
                    <td>
                        {% if request.createdBy %}
                            <a class="link link-primary link-hover" href="{{ path("admin_user_show", { id: request.createdBy.id.toBase32 }) }}">
                                {{ request.createdBy.profile.username }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ "common.updated_by"|trans }}
                    </th>
                    <td>
                        {% if request.updatedBy %}
                            <a class="link link-primary link-hover" href="{{ path("admin_user_show", { id: request.updatedBy.id.toBase32 }) }}">
                                {{ request.updatedBy.profile.username }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-group items-center justify-center">
        {{ component("button", { button: false, content: "common.back_to_list"|trans, class: "btn-outline", variant: "info", centered: false, ghost: true, href: path("admin_request") }) }}
        {{ component("button", { button: false, content: "common.edit"|trans, class: "btn-outline", variant: "success", centered: false, ghost: true, href: path("admin_request_edit", { id: request.id.toBase32 }) }) }}
    </div>
{% endblock %}
