{% extends "layout.html.twig" %}

{% block title %}
    {{ tech.name }}
{% endblock %}

{% block description %}
    {{ (tech.description ?? "page.show_tech.default_description"|trans({ name: tech.name }))|u.truncate(150, '...') }}
{% endblock %}

{% block main_body %}
    <div class="flex items-center justify-center gap-8 text-4xl">
        {% set vote = app.user ? tech.getProfileVote(app.user.profile) : null %}

        <div class="indicator">
            {% include "tech/_status.html.twig" with { tech } only %}
            {{ component("image", { alt: tech.name, filter: "tech_picture_side", src: vich_uploader_asset(tech.picture, "file"), height: 64, width: 64 }) }}
        </div>
        <h2>
            {{ tech.name }}
        </h2>
        {% include "tech/_vote.html.twig" with { tech, vote } only %}
        {% if is_granted(constant("App\\Security\\Voter\\TechVoter::EDIT"), tech) %}
            {{ component("button",
                {
                    ariaLabel: ("icon.pencil")|trans,
                    centered: false,
                    href: path("app_tech_edit", { slug: tech.slug }),
                    icon: "pencil",
                    square: true
                })
            }}
        {% endif %}
    </div>
    <div class="text-center text-xl">
        <span class="font-bold">{{ "tech.type"|trans }}</span> : <span>{{ tech.type.name }}</span>
    </div>
    <div class="text-center text-xl">
        <span class="font-bold">{{ "tech.categories"|trans }}</span> : <span>{{ tech.categories|map(c => c.name)|join(", ", " " ~ ("common.and"|trans) ~ " ") }}</span>
    </div>
    <div class="text-center text-xl">
        <span class="font-bold">{{ "tech.used_by"|trans }}</span> : <span>{{ "tech.used_by.count"|trans({ count: tech.stacks.count }) }}</span>
    </div>
    {% if tech.dependsOn %}
        <div class="text-center text-xl">
            <span class="font-bold">{{ "tech.depends_on"|trans }}</span> : <span>{{ component("button", { centered: false, content: tech.dependsOn.name, href: path("app_tech_show", { slug: tech.dependsOn.slug }) }) }}</span>
        </div>
    {% endif %}
    {% if tech.description %}
        <div class="card bg-base-100">
            <p class="card-body text-xl">
                {{ tech.description }}
            </p>
        </div>
    {% endif %}
    <div class="flex items-center justify-center gap-4">
        {% for icon, link in tech.activeLinks %}
            <div class="tooltip" data-tip="{{ ("tech.link.#{icon}")|trans }}">
                {{
                    component(
                        "button",
                        {
                            icon: icon,
                            href: link,
                            target: "_blank",
                            externalLink: true,
                            circle: true,
                            centered: false,
                            ariaLabel: ("tech.link.#{icon}")|trans
                        }
                    )
                }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
