<div class="card bg-base-100 shadow-xl">
    <div class="card-title justify-between p-8 pb-0">
        <div class="capitalize">
            {% block header %}

            {% endblock %}
        </div>
        {% if link %}
            <a class="flex items-center gap-3 text-secondary" href="{{ link }}"><span>{{ "common.more"|trans }}</span>{% include "icon/chevron_right.html.twig" %}</a>
        {% endif %}
    </div>
    <div class="card-body">
        {% for item in items %}
            {% block item %}
                <div class="flex h-12 items-center gap-8 rounded-full py-3 px-6 hover:bg-base-200">
                    <div class="flex gap-4 font-medium" aria-label="{{ "common.position"|trans({ position: loop.index }) }}">
                        {% include "icon/star.html.twig" %}
                        <span>{{ loop.index }}</span>
                    </div>
                    <span class="flex h-full items-center gap-2 font-semibold">
                        {% set name = get_property(item, itemNameProperty) %}

                        {% if itemPictureProperty and itemFileProperty %}
                            {% set src = vich_uploader_asset(get_property(item, itemPictureProperty)) %}

                            <div class="avatar h-full">
                                <div class="h-full">
                                    {{ component("image", { src: src ?? asset(no_picture_fallback), class: "mask mask-squircle", filter: "short_list", alt: name, width: 24, height: 24 }) }}
                                </div>
                            </div>
                        {% endif %}

                        {{ name }}
                    </span>
                </div>
            {% endblock %}
        {% endfor %}
    </div>
</div>
